[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://chromium.googlesource.com/external/googletest
[submodule "contrib/freetype2"]
	path = contrib/freetype2
	url = https://github.com/arris69/freetype2-android
